aiohttp==3.6.2
appdirs==1.4.4
astroid==2.4.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
beautifulsoup4==4.9.1
cchardet==2.1.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
chromalog==1.0.5
click==7.1.2
colorama==0.4.3
cryptography==3.0
cssselect==1.1.0
distlib==0.3.1
filelock==3.0.12
flashtext==2.7
Flask==1.1.2
future==0.18.2
idna==2.10
iniconfig==1.0.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
multidict==4.7.6
numpy==1.19.0
packaging==20.4
pandas==1.0.5
pluggy==0.13.1
py==1.9.0
py4j==0.10.9
pycares==3.1.1
pycodestyle==2.6.0
pycparser==2.20
pylint==2.5.3
pyparsing==2.4.7
pytest==6.0.1
pytest-dependency==0.5.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
sec-edgar-downloader==3.0.5
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
toolz==0.10.0
urllib3==1.25.10
virtualenv==20.0.29
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.4.2
